*.ipynb_checkpoints
*.jpg
*.csv
*.zip
*.mat
*.fig
*.png
*.asv
*.out
*.mat.PREV
/references
/output
*.DS_Store
data/._README.md
*._README.txt
/article/graphics
/article/defect_detection.out
/article/defect_detection.log
/article/defect_detection.fls
/article/defect_detection.fdb_latexmk
/article/defect_detection.blg
/article/defect_detection.bbl
/article/defect_detection.aux
/article/defect_detection.synctex.gz
/article/defect_detection.pdf
/presentation/main.pdf
/presentation/main.out
/presentation/main.nav
/presentation/main.log
/presentation/main.fls
/presentation/main.synctex.gz
/presentation/main.snm
/presentation/main.run.xml
/presentation/main.fdb_latexmk
/presentation/main.blg
/presentation/main.bcf
/presentation/main.bbl
/presentation/main.aux
/presentation/main.vrb
/presentation/main.toc
presentation/graphics
data/exports/segmentation/segmentation_results_4.txt
data/exports/segmentation/segmentation_results_3.txt
src/matlab/architecture/region_proposal/test_old.txt
data/exports/segmentation/optimization/real/desktop.ini
/presentation/main.synctex(busy)
