*.ipynb_checkpoints
*.jpg
*.csv
*.zip
/references/Kovesi - phasecorners.pdf
/references/MorroneBurrPhaseModel - Phase Congruency.pdf
/references/01334512 - An Intelligent Real-time Vision System for Surface Defect Detection.pdf
/references/Notes/Note 06205760 - SLIC Superpixels Compared to State-of-the-Art Superpixel Methods.pdf
/references/Notes/Note 07684170 A Review on Image Processing and Image Segmentation.pdf
/references/Notes/Note Deep Learning 2015-lecun.pdf
/references/Notes/Note Handwritten Digit Recognition with a Back-Propagation Network.pdf
/references/Notes/Note Object recognition with gradient-based learning.pdf
/references/Read/00087344 - Watersheds in digital spaces- an efficient algorithm based on immersion simulations .pdf
/references/Read/00868688 - Normalized cuts and image segmentation .pdf
/references/Read/00993164 Defect Detection in Textured Materials Using Gabor Filters.pdf
/references/Read/01273918 - Learning to detect natural image boundaries using local brightness, color, and texture cues.pdf
/references/Read/04310039 - Picture Thresholding Using an Iterative Selection Method .pdf
/references/Read/04777721 - Detection of Steel Defect Using the Image Processing Algorithms.pdf
/references/Read/06205760 - SLIC Superpixels Compared to State-of-the-Art Superpixel Methods.pdf
/references/Read/06248110 - Multi-column Deep Neural Networks for Image Classification.pdf
/references/Read/06356825 Application of Two Dimensional Wavelet for Defect Detection in Steel Process .pdf
/references/Read/06460867 - Convolutional Neural Networks Applied to House Numbers Digit Classification.pdf
/references/Read/06703333 Fabric Defect Detection Using Wavelet Decomposition.pdf
/references/Read/06738559 - A FAST LEARNING ALGORITHM FOR IMAGE SEGMENTATION WITH MAX-POOLING CONVOLUTIONAL NETWORKS.pdf
/references/Read/07030439 - Defect Detection Of Steel Surface Using Entropy Segmentation.pdf
/references/Read/07155940 Fabric Defect Detection using Wavelet Filter.pdf
/references/Read/07410526 Fast R-CNN.pdf
/references/Read/07532516 SALIENT OBJECT DETECTION VIA FAST R-CNN AND LOW-LEVEL CUES.pdf
/references/Read/07684170 A Review on Image Processing and Image Segmentation.pdf
/references/Read/08577540 Spoon defect detection.pdf
/references/Read/08623728 - Research on Surface Defects Detection of Stainless Steel Spoon Based on Machine Vision.pdf
/references/Read/1206.2944 - Practical bayesian.pdf
/references/Read/1312.6229 ROI.pdf
/references/Read/1807.02811 - A Tutorial on Bayesian Optimization.pdf
/references/Read/Alpha shape Stelldinger2006_Chapter_TopologicallyCorrectImageSegme.pdf
/references/Read/Automated fabric defect detection - a review.pdf
/references/Read/Deep Learning 2015-lecun.pdf
/references/Read/Handwritten Digit Recognition with a Back-Propagation Network.pdf
/references/Read/Kovesi - phasecorners.pdf
/references/Read/MorroneBurrPhaseModel - Phase Congruency.pdf
/references/Read/Object recognition with gradient-based learning.pdf
/references/Read/Snakes - Active contour models.pdf
/data/exports/defect-analysis/defects-statistics.mat
/data/exports/mc-cnn/data/local-imds.mat
/data/exports/mc-cnn/data/local-sbs-imds.mat
/data/exports/mc-cnn/data/shape-imds.mat
/data/exports/mc-cnn/data/shape-sbs-imds.mat
/data/exports/mc-cnn/net/local-7|8-5|16-3|32--4.mat
/data/exports/mc-cnn/net/local-no3-7|8-5|16-3|32--4.mat
/data/exports/mc-cnn/net/shape-7|8-5|16-3|32--4.mat
/data/exports/mc-cnn/net/shape-no3-7|8-5|16-3|32--4.mat
/references
/test
/output/mc-cnn/shape-net-7|8-5|16-3|32--4-plot-confusion.fig
/output/mc-cnn/shape-net-7|8-5|16-3|32--4-training.png
/output/mc-cnn/shape-no3-net-7|8-5|16-3|32--4-training.fig
/output/mc-cnn/shape-no3-net-7|8-5|16-3|32--4-training.png
/output/mc-cnn/local-net-7|8-5|16-3|32--4-plot-confusion.fig
/output/mc-cnn/local-net-7|8-5|16-3|32--4-training.png
/output/mc-cnn/local-no3-net-7|8-5|16-3|32--4-plot-confusion.fig
/output/mc-cnn/local-no3-net-7|8-5|16-3|32--4-training.png
/output/defects/class1shape.fig
/output/defects/class2shape.fig
/output/defects/class3shape.fig
/output/defects/class4shape.fig
*.DS_Store
data/._README.md
*.mat
*.fig
*.png
data/manipulated-images/preprocessed-images/._README.txt
data/manipulated-data/._README.txt
data/images/._README.txt
data/manipulated-images/defects-highlighted/._README.txt
/article/graphics
/article/defect_detection.out
/article/defect_detection.log
/article/defect_detection.fls
/article/defect_detection.fdb_latexmk
/article/defect_detection.blg
/article/defect_detection.bbl
/article/defect_detection.aux
/article/defect_detection.synctex.gz
/presentation/main.pdf
/presentation/main.out
/presentation/main.nav
/presentation/main.log
/presentation/main.fls
/presentation/main.synctex.gz
/presentation/main.snm
/presentation/main.run.xml
/presentation/main.fdb_latexmk
/presentation/main.blg
/presentation/main.bcf
/presentation/main.bbl
/presentation/main.aux
/presentation/main.vrb
/presentation/main.toc
presentation/graphics/*.*
presentation/graphics/*
src/matlab/architecture/region_proposal/segmentation_results_3.asv
src/matlab/architecture/region_proposal/segmentation_opt.asv
/article/defect_detection.pdf
src/matlab/architecture/region_proposal/segmentation_test.asv
data/exports/segmentation/segmentation_results_4.txt
data/exports/segmentation/segmentation_results_3.txt
data/exports/segmentation/optimization/log_class4_batch1_niter2_737725.889243.out
