*.ipynb_checkpoints
*.jpg
*.csv
*.zip
*.mat
*.fig
*.png
*.asv
*.out
*.mat.PREV
/references
/output
*.DS_Store
data/._README.md
*._README.txt
data/exports/segmentation/segmentation_results_4.txt
data/exports/segmentation/segmentation_results_3.txt
src/matlab/architecture/region_proposal/test_old.txt
data/exports/segmentation/optimization/real/desktop.ini
article/
presentation/
